* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    background: #2c3e50;
}

#wrap {
    margin: 0 auto 30px;
}

#regbar {
    height: 100px;
    background: #34495e;
}


.postAttribute{
    text-align:left;
    width:100%;

}


#navthing {
    margin-left: 50px;
}

h2 {
    padding: 20px;
    color: #ecf0f1;
}

fieldset {
    border: none;
}

.login {
    margin-top: 70px;
    position: relative;
    width: 350px;
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 10%;
    position: absolute;
    top: -10px;
}

.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 25px;
    padding-top: 5px;
}

h1 {
    margin-top: 20px;
}

.formholder input[type="text"], .formholder input[type="password"] ,textarea,select{
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

    .formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
        outline: none;
        box-shadow: 0 0 1px 1px #1abc9c;
    }

.formholder input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
    width: 60%;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.link input[type="submit"] {
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin-top: 0;
    align-content: center;
    color: black;
}

.link2 input[type="submit"] {
    background: #1abc9c;
    font-size: 18px;
    width: 100%;
    padding: 0;
    margin-top: 0;
    align-content: center;
    color: white;
}


.formholder input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

.green {
    color: #1abc9c;
}

#title {
    color: #ecf0f1;
    text-decoration: none;
}

.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}

    .responstable tr {
        border: 1px solid #D9E4E6;
    }

        .responstable tr:nth-child(odd) {
            background-color: #EAF3F3;
        }

    .responstable th {
        display: none;
        border: 1px solid #FFF;
        background-color: #2c3e50;
        color: #FFF;
        padding: 1em;
    }

        .responstable th:first-child {
            display: table-cell;
            text-align: center;
        }

        .responstable th:nth-child(2) {
            display: table-cell;
        }

            .responstable th:nth-child(2) span {
                display: none;
            }

            .responstable th:nth-child(2):after {
                content: attr(data-th);
            }

@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }

    .responstable th:nth-child(2):after {
        display: none;
    }
}

.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}

    .responstable td:first-child {
        display: table-cell;
        text-align: center;
        border-right: 1px solid #D9E4E6;
    }

@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}

.responstable th, .responstable td {
    text-align: center;
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}


h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}

    h1 span {
        color: #167F92;
    }

    a { text-decoration: none; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h4, h5 {
    line-height: 1.5em;
    margin: 0;
}

hr {
    background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
    border: 0;
    max-width:300px;
    white-space:normal;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
}

#live-chat header {
    background: #293239;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
}

.chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll;
}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}

DIV.stack-vert
{
    border: solid thick red;
    overflow:hidden;
}