﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebClient3._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
                <center>
                    <div class="login" style="display: block;">
                        <div class="formholder">
                            <div class="randompad">
                                <fieldset>
                                  <label>Forum Name</label>
                                <asp:DropDownList id="DropDownList1" runat="server"></asp:DropDownList>


                                    <label >User Name</label>
                                    <asp:TextBox runat="server" ID="userName" type="text"/>
                                    <label >Password</label>
                                    <asp:TextBox runat="server" ID="password" type="password"/>
                                    <asp:Button runat="server" OnClick="login_click" Text="Login"/>
                                    <div class="custompopup" id="divErrorMessage" runat="server">
                                    <p>
                                    <asp:Label ID="lblmessage" runat="server"></asp:Label>
                                    </p>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    </center>
</asp:Content>
